.logo span {
    font-size: 1.5rem;
    font-weight: 700;
    color: #22C55EFF;
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 25px;
}
.image-area{
    position:relative !important;
    width: max-content !important;
    display: inline-block !important;
}

.image-delete-button{
    right:8px !important;
    top:8px !important;
    position: absolute !important;
    background: black !important;
    color: white !important;
}

